certifi==2023.11.17
charset-normalizer==3.3.2
climage==0.2.0
cowsay==6.1
decorator==4.4.2
gitdb==4.0.11
GitPython==3.1.40
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
kdtree==0.16
moviepy==1.0.3
numpy==1.26.2
pillow==10.2.0
proglog==0.1.10
psutil==5.9.7
pyperclip==1.8.2
pytube==15.0.0
requests==2.31.0
setuptools==69.0.3
smmap==5.0.1
tqdm==4.66.1
urllib3==2.1.0
